# Created by https://github.com/nblackninja

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/.eslintrc


### Other ###
.DS_Store
.idea
*.ai
*.log
node_modules/
npm-debug.*
source/css/*.css
Thumbs.db
psd/*
source/sass/*
source/sass/normalize.css
source/sass/style.css
source/sass/style.css.map
